*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "result"
    "content__details";
  gap: 30px;
  max-width: 1140px;
}

.result {
  width: 711px;
  padding-top: 79px;
}

.content__details {
  width: 399px;
  margin-bottom: 70px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 711px;
}

.search-form .fieldset:first-of-type {
  width: 225px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__list-container {
  position: relative;
  height: 298px;
  margin-top: 26px;
  padding: 2px;
  overflow-y: auto;
}

.preloader {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin-bottom: 16px;
}

video.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-height: 390px;
  margin-bottom: 30px;
  overflow: visible;
  cursor: pointer;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus,
.content__card-link:focus-visible {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  z-index: 10;
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content__video-card-title {
  display: block;
  width: 95%;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 5px;
}

fieldset {
  border: none;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid white;
  border-right: none;
  border-bottom: 1px solid white;
  border-left: none;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
}

.search-form__textfield:active {
  border: none;
  outline: 1px solid white;
}

.search-form__textfield:focus {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:hover input {
  text-decoration: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  place-items: center;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:focus-within {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.button {
  height: 34px;
  margin-top: 20px;
  border: 1px solid white;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid white;
  outline-offset: 1px;
}
